<div class="row text-success" >
    <h1>Tache complet : {{ n }}</h1>
    
</div>
<div class="row">
    <div class="col-6 col-md-4 mb-3 mx-2">
        <div class="my-5 todo">
            <ul class="myul">
                <li *ngFor="let t of listTodo">
                    <h6 [ngStyle]="{'text-decoration': t.completed? 'line-through': ''}">{{t.title}}</h6>
                </li>
            </ul>
    
        </div>

    </div>
    <div *ngIf="errMess">
        <h2>Error</h2>
        <h4>{{errMess}}</h4>
    </div>
    <div [hidden]="errMess||listTodo" class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>

</div>
