<div class="col-6 col-md-4">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/images/avatar.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ actor.firstName }}</h5>
          <p class="card-text">{{ actor.lastName }}</p>
          <a href="#" (click)="open(content)" class="btn btn-primary">Supprimer</a>
        </div>
      </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     Vous voulez supprimer l'actor
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Non</button>
      <button type="button" class="btn btn-outline-dark" (click)="supprimer();modal.close('Save click')">Oui</button>

    </div>
  </ng-template>
  

